<div class="submitbox">
  <%= form_for @sayhello do |f| %>
  <div class="submitbox__image">
    <%= f.text_field :image, placeholder: 'image', style: 'width: 100%;height: 30px;'  %>
  </div>

  <div class="submitbox__text">
    <%= f.text_area :text, placeholder: 'レビューを書いてね！', maxlength: "216", style: 'width: 100%;height: 300px;' %>
  </div>

  <div class="submitbox__submit">
  <%= button_tag type: "submit", class: "btn btn--block" do %>
              投稿する
              <% end %>
  </div>

   <% end %>

</div>

